<div ng-controller='SparkApplicationsCtrl as sactrl'>
	<h4>Active Job ({{sactrl.applications}}</h4>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead><tr><th>Job Id</th><th>Description</th><th>Submitted</th><th>Duration</th><th class="sorttable_nosort">Stages: Succeeded/Total</th><th class="sorttable_nosort">Tasks (for all stages): Succeeded/Total</th></tr></thead>
      <tbody>
        <tr ng-repeat='job in sactrl.jobs' id="{{job.id}}">
        <td sorttable_customkey="{{job.id}}">
          {{job.id}} 
        </td>
        <td>
          <span class="description-input">
          <a href="/jobs/job?id={{job.id}}" class="name-link">{{job.description}}</a>
        </span></td>
        <td sorttable_customkey="{{job.submitted}}">
          2016/12/09 21:56:50
        </td>
        <td sorttable_customkey="{{job.duration}}">{{job.submitted/1000}} s</td>
        <td class="stage-progress-cell">
          0/1
          
          
        </td>
        <td class="progress-cell">
          <div class="progress">
      <span style="text-align:center; position:absolute; width:100%; left:0;">
        76/80
        
        
      </span>
      <div class="bar bar-completed" style="width: 95.0%"></div>
      <div class="bar bar-running" style="width: 5.0%"></div>
    </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>