<div ng-controller='SparkApplicationCtrl as sactrl'>
	<div class="navbar">
		<div class="nav navbar-brand">
		  <a href="/" class="brand">
		    <img src="/static/spark-logo-77x50px-hd.png">
		    <span class="version">2.0.2</span>
		  </a>
		</div>
		<p class="navbar-text pull-right">
		  <strong title="retrieval_test_10k_ndb_msc_edit_comb_batch_spark_3.py">retrieval_test_10k_ndb_msc_edit_...</strong> application UI
		</p>
		<ul class="nav navbar-nav"><li class="active">
	        <a href="/jobs/">Jobs</a>
	      </li><li class="">
	        <a href="/stages/">Stages</a>
	      </li><li class="">
	        <a href="/storage/">Storage</a>
	      </li><li class="">
	        <a href="/environment/">Environment</a>
	      </li><li class="">
	        <a href="/driver/{{sactrl.driverid}}/applications/{{sactrl.appid}}/executors/">Executors</a>
	      </li>
	    </ul>
	</div>
	<h2>Application {{sactrl.name}}</h2>
	<h4>Attempts</h4>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead><tr>
      	<th>Start Time</th>
      	<th>EndTime</th>
      	<th>Last Updated</th>
      	<th>Duration</th>
      	<th>Completed</th>
		</tr>
	  </thead>
      <tbody>
        <tr ng-repeat='attempt in sactrl.attempts'>
        	<td>{{attempt.startTime}}</td>
        	<td>{{attempt.endTime}}</td>
        	<td>{{attempt.lastUpdated}}</td>
        	<td>{{duration}}</td>
        	<td>{{completed}}</td>
        </tr>
   	  </tbody>
   	</table>



	<h4 ng-model='sactrl.jobs'>Active Job ({{sactrl.jobs.length}})</h4>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead>
      	<tr>
      		<th>Job Id</th>
      		<th>Description</th>
      		<th>Submitted</th>
      		<th>Duration</th>
      		<th class="sorttable_nosort">Stages: Succeeded/Total</th>
      		<th class="sorttable_nosort">Tasks (for all stages): Succeeded/Total</th>
      	</tr>
      	</thead>
      <tbody>
        <tr ng-repeat='job in sactrl.jobs | filter:{status:"RUNNING"} | limitTo:30' id="{{job.id}}">
        	<td sorttable_customkey="{{job.jobId}}">{{job.jobId}}</td>
	        <td>
	          <span class="description-input">
	          <a href="/driver/{{sactrl.driverid}}/applications/{{sactrl.appid}}/jobs/job?id={{job.jobId}}" class="name-link">{{job.name}}</a>
	        </span></td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td class="stage-progress-cell">{{job.numCompletedStages}}/{{job.stageIds.length}}</td>
	        <td class="progress-cell">
	          <div class="progress">
	      		
	      		<div class="progress-bar" style="width:{{job.numCompletedTasks/job.numTasks*100}}%; text-align: left">
	      			{{job.numCompletedTasks}}/{{job.numTasks}}
	      			</div>
	      		<div class="progress-bar progress-bar-striped active" style="width:{{job.numActiveTasks/job.numTasks*100}}%"></div>
	    		</div>
	        </td>
      </tr>
      </tbody>
    </table>

	<h4 ng-model='sactrl.jobs'>Completed Job ({{sactrl.jobs.length}})</h4>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead>
      	<tr>
      		<th>Job Id</th>
      		<th>Description</th>
      		<th>Submitted</th>
      		<th>Duration</th>
      		<th class="sorttable_nosort">Stages: Succeeded/Total</th>
      		<th class="sorttable_nosort">Tasks (for all stages): Succeeded/Total</th>
      	</tr>
      	</thead>
      <tbody>
        <tr ng-repeat='job in sactrl.jobs | filter:{status:"SUCCEEDED"}:true | limitTo:30' id="{{job.id}}">
        	<td sorttable_customkey="{{job.jobId}}">{{job.jobId}}</td>
	        <td>
	          <span class="description-input">
	          <a href="/driver/{{sactrl.driverid}}/applications/{{sactrl.appid}}/jobs/job?id={{job.jobId}}" class="name-link">{{job.name}}</a>
	        </span></td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td class="stage-progress-cell">{{job.numCompletedStages}}/{{job.stageIds.length}}</td>
	        <td class="progress-cell">
	          <div class="progress">
	      		
	      		<div class="progress-bar" style="width:{{job.numCompletedTasks/job.numTasks*100}}%; text-align: left">
	      			{{job.numCompletedTasks}}/{{job.numTasks}}
	      			</div>
	      		<div class="progress-bar progress-bar-striped active" style="width:{{job.numActiveTasks/job.numTasks*100}}%"></div>
	    		</div>
	        </td>
      </tr>
      </tbody>

    </table>


	<h4 ng-model='sactrl.jobs'>Failed Job ({{sactrl.jobs.length}})</h4>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead>
      	<tr>
      		<th>Job Id</th>
      		<th>Description</th>
      		<th>Submitted</th>
      		<th>Duration</th>
      		<th class="sorttable_nosort">Stages: Succeeded/Total</th>
      		<th class="sorttable_nosort">Tasks (for all stages): Succeeded/Total</th>
      	</tr>
      	</thead>
      <tbody>
        <tr ng-repeat='job in sactrl.jobs | filter:{status:"FAILED"}:true | limitTo:30' id="{{job.id}}">
        	<td sorttable_customkey="{{job.jobId}}">{{job.jobId}}</td>
	        <td>
	          <span class="description-input">
	          <a href="/driver/{{sactrl.driverid}}/applications/{{sactrl.appid}}/jobs/job?id={{job.jobId}}" class="name-link">{{job.name}}</a>
	        </span></td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td sorttable_customkey="{{job.submissionTime}}">{{job.submissionTime}}</td>
        	<td class="stage-progress-cell">{{job.numCompletedStages}}/{{job.stageIds.length}}</td>
	        <td class="progress-cell">
	          <div class="progress">
	      		
	      		<div class="progress-bar" style="width:{{job.numCompletedTasks/job.numTasks*100}}%; text-align: left">
	      			{{job.numCompletedTasks}}/{{job.numTasks}}
	      			</div>
	      		<div class="progress-bar progress-bar-striped active" style="width:{{job.numActiveTasks/job.numTasks*100}}%"></div>
	    		</div>
	        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>