<div ng-controller='SparkApplicationsCtrl as sasctrl'>
	<h2>Application for driver {{sasctrl.driverid}}</h2>
	<table class="table table-bordered table-striped table-condensed sortable">
      <thead><tr>
      	<th>application</th>
      	<th>id</th>
		</tr>
	  </thead>
      <tbody>
        <tr ng-repeat='application in sasctrl.applications'>
        	<td>{{application.name}}</td>
        	<td><a href="/driver/{{sasctrl.driverid}}/applications/{{application.id}} class="name-link">{{application.id}}</a></td>
        </tr>
   	  </tbody>
   	</table>
</div>