
<div class="container-fluid" >
	<h2>Job <a href="/coiljobs/{{ctrl.jobid}}">{{ctrl.jobid}}</a></h2>
	<h3>Files for run {{ctrl.runid}}</h3>
	<ul class="breadcrumb">
		<li><a ng-click='ctrl.goToPath("/")'>sandbox</li>
		<li ng-repeat='path_elem in ctrl.path.split("/") track by $index'>
			<a ng-click='ctrl.goToPath(ctrl.path.split("/").slice(0, $index +1).join("/"))'>{{path_elem}}</a>
		</li>
	</ul> 
	<div class='table-responsible'>

		<table class="table">
			<thead>
				<tr>
					<th ng-click="ctrl.orderBy('nlink')">nlink</th>
					<th ng-click="ctrl.orderBy('mtime')">mtime</th>
					<th ng-click="ctrl.orderBy('gid')">gid</th>
					<th ng-click="ctrl.orderBy('uid')">uid</th>
					<th ng-click="ctrl.orderBy('path')">path</th>
					<th ng-click="ctrl.orderBy('size')">size</th>
					<th ng-click="ctrl.orderBy('mode')">mode</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in ctrl.items | orderBy : ctrl.orderByField : ctrl.orderDesc'>
					<td>{{item.nlink}}</td>
					<td>{{item.mtime*1000 | date : 'medium'}}</td>
					<td>{{item.gid}}</td>
					<td>{{item.uid}}</td>
					<td ng-click="ctrl.doAction(item)">
						<span class="glyphicon" ng-class="{
							'glyphicon-folder-open' : item.nlink != 1,
							'glyphicon glyphicon-file' : item.nlink == 1
						}"  aria-hidden="true"></span>
						{{item.path.split("/").pop()}}
					</td>
					<td>{{item.size | bytes}}</td>
					<td>{{item.mode}}</td>
				</tr>
			</tbody>
			
		</table>
	</div>
</div>