<div class="container-fluid">
	<div class='table-responsible'>
		<h3>Pending jobs</h3>
		<table class="table">
			<thead>
				<tr>
					<th>coil id</th>
					<th>type</th>
					<th>user</th>
					<th>submission date</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='job in ctrl.jobs | filter:{status:"PENDING"}'>
					<td><a href="/coiljobs/{{job.uuid}}">{{job.uuid}}</a></td>
					<td>{{job.type}}</td>
					<td>{{job.user}}</td>
					<td>{{job.submissionDate | date: 'medium'}}</td>
					<td>
						<span class="nav-item label" ng-class="{
    				'label-warning': job.status == 'PENDING',
    				'label-success': job.status == 'RUNNING',
    				'label-primary': job.status == 'DONE'}"  >{{job.status}}
    					</span>
    				</td>
				</tr>
			</tbody>
			
		</table>
		<h3>Running jobs</h3>
		<table class="table">
			<thead>
				<tr>
					<th>coil id</th>
					<th>type</th>
					<th>user</th>
					<th>submission date</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='job in ctrl.jobs | filter:{status:"RUNNING"}'>
					<td><a href="/coiljobs/{{job.uuid}}">{{job.uuid}}</a></td>
					<td>{{job.type}}</td>
					<td>{{job.user}}</td>
					<td>{{job.submissionDate | date : 'medium'}}</td>
					<td>
						<span class="nav-item label" ng-class="{
    				'label-warning': job.status == 'PENDING',
    				'label-success': job.status == 'RUNNING',
    				'label-primary': job.status == 'DONE'}"  >{{job.status}}
    					</span>
    				</td>
				</tr>
			</tbody>

		</table>
		<h3>Done jobs</h3>
		<table class="table">
			<thead>
				<tr>
					<th>coil id</th>
					<th>type</th>
					<th>user</th>
					<th>submission date</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='job in ctrl.jobs | filter: {status:"DONE"}' >
					<td><a href="/coiljobs/{{job.uuid}}">{{job.uuid}}</a></td>
					<td>{{job.type}}</td>
					<td>{{job.user}}</td>
					<td>{{job.submissionDate | date : 'medium'}}</td>
					<td>
						<span class="nav-item label" ng-class="{
    				'label-warning': job.status == 'PENDING',
    				'label-success': job.status == 'RUNNING',
    				'label-primary': job.status == 'DONE'}"  >{{job.status}}
    					</span>
    				</td>
				</tr>
			</tbody>
			
		</table>

	</div>
</div>