<div class="container">
	<h1>Create and Submit Cook Job</h1>
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group" role="group" aria-label="First group">
			<button type="button" class=" btn btn-default " ng-click='ctrl.downloadJson()'>
				<span class="glyphicon glyphicon-save" aria-hidden="true"></span> save as json</button>
			<button type="button" class=" btn btn-default" ng-click='ctrl.loadJson()'>
				<span class="glyphicon glyphicon-open" aria-hidden="true"></span> load from json</button>
		</div>
		<div class="btn-group" role="group" aria-label="First group">
			<button type="button" class=" btn btn-default" ng-click='ctrl.clearAll()'>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> clear all</button>
		</div>
	</div>
	<h3>Main options</h3>
	<div ng-show="ctrl.submitError" class="alert alert-danger">{{ctrl.errorMessage}}</div>
	<div>
	<form>
		<div id="name" class='form-group'>
			<label>name</label>
			<input type="text" name="name" ng-model='ctrl.name' class="form-control" placeholder="name of the job">
		</div>
		<div id="mainclass" class='form-group'>
			<label>Command</label>
			<input type="text" name="command" ng-model='ctrl.command' class="form-control" placeholder="the command to run">
		</div>
		<div id="priority" class='form-group'>
			<label>Priority</label>
			<input type="number" name="priority" ng-model='ctrl.priority' min='0' max='100' class="form-control" placeholder="priority of the job. Should be between 0 and 100, inclusive.">
		</div>
		<div id="max_retries" class='form-group'>
			<label>Max Retries</label>
			<input type="number" name="max_retries" min='0' ng-model='ctrl.max_retries' class="form-control" placeholder="the maximum number of retries">
		</div>
		<div id="max_runtime" class='form-group'>
			<label>Max Runtime</label>
			<input type="number" name="max_runtime" min='0' ng-model='ctrl.max_runtime' class="form-control" placeholder="the maximum running time of the job in milliseconds. An instance that runs for more than max_runtime will be killed and job will be retried.">
		</div>
		<div id="cpus" class='form-group'>
			<label>Cpus</label>
			<input type="number" name="cpus" min='0' ng-model='ctrl.cpus' class="form-control" placeholder="number of requested cpus.">
		</div>
		<div id="mem" class='form-group'>
			<label>Memory</label>
			<input type="number" name="mem" min='0' ng-model='ctrl.mem' class="form-control" placeholder="MB of requested memory.">
		</div>
		<div id="gpus" class='form-group'>
			<label>Gpus</label>
			<input type="number" name="gpus" min='0' ng-model='ctrl.gpus' class="form-control" placeholder="Number of requested GPUs. Must be a whole number and support must be enabled in the config.">
		</div>
		<div id="ports" class='form-group'>
			<label>Ports</label>
			<input type="number" name="ports" ng-model='ctrl.ports' class="form-control" placeholder="Number of ports that should be opened for the job.">
		</div>		
		<div id="uris" class='form-group'>
			<label>Uris</label>
			<input type="text" name="uris" ng-model='ctrl.uris' class="form-control" placeholder="Comma separated list of URIs that will be fetched into the container before launch.">
		</div>		
	</form>
	</div>
	<h3>Envs</h3>
	<kvtable data-confs="ctrl.envs"/>
	<button class="btn btn-primary btn-lg btn-block" ng-click='ctrl.submitJob()'>submit</button>
</div>