<div class="container-fluid" ng-controller="SparkExecutorsCtrl as sexcCtrl">
          <div class="row-fluid">
            <div class="span12">
              <h3 style="vertical-align: bottom; display: inline-block;">
                Executors
                
              </h3>
            </div>
          </div>
          <div class="row">
        <div class="span12">
          <h4>Summary</h4>
          <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr><th></th>
        <th>RDD Blocks</th>
        <th><span data-toggle="tooltip" title="Memory used / total available memory for storage of data like RDD partitions cached in memory. ">Storage Memory</span></th>
        <th>Disk Used</th>
        <th>Cores</th>
        <th>Active Tasks</th>
        <th>Failed Tasks</th>
        <th>Complete Tasks</th>
        <th>Total Tasks</th>
        <th>
          <span data-toggle="tooltip" title="Shaded red when garbage collection (GC) time is over 10% of task time">Task Time (GC Time)</span>
        </th>
        <th><span data-toggle="tooltip" title="Bytes and records read from Hadoop or from Spark storage.">Input</span></th>
        <th><span data-toggle="tooltip" title="Total shuffle bytes and records read (includes both data read locally and data read from
       remote executors). ">Shuffle Read</span></th>
        <th>
          <span data-toggle="tooltip" data-placement="left" title="Bytes and records written to disk in order to be read by a shuffle in a future stage.">
            Shuffle Write
          </span>
        </th>
      </tr></thead>
      <tbody>
        <tr>
      <td><b>Active({{(sexcCtrl.executors | filter:{isActive:true}).length}})</b></td>

          <td>{{sexcCtrl.totalActives.rddBlocks}}</td>
          <td sorttable_customkey="3262345">
              {{sexcCtrl.totalActives.memoryUsed}} /
              {{sexcCtrl.totalActives.maxMemory}}
          </td>
          <td sorttable_customkey="0">
            {{sexcCtrl.totalActives.diskUsed}}
          </td>
          <td>
            {{sexcCtrl.totalActives.totalCores}}
          </td>
            <td style="background:hsla(240, 100%, 50%, 0.55);color:white">{{sexcCtrl.totalActives.activeTasks}}</td>
            <td style="">{{sexcCtrl.totalActives.failedTasks}}</td>
            <td>{{sexcCtrl.totalActives.completedTasks}}</td>
            <td>{{sexcCtrl.totalActives.totalTasks}}</td>
          <td sorttable_customkey="4234675898" style="">
            {{sexcCtrl.totalActives.totalDuration}}
            ({{sexcCtrl.totalActives.totalGCTime}})
          </td>
          <td sorttable_customkey="422212235665">
            {{sexcCtrl.totalActives.totalInputBytes}}
          </td>
          <td sorttable_customkey="0">
            {{sexcCtrl.totalActives.totalShuffleRead}}
          </td>
          <td sorttable_customkey="0">
            {{sexcCtrl.totalActives.totalShuffleWrite}}
          </td>
        </tr>
        <tr>
      <td><b>Dead({{(sexcCtrl.executors | filter:{isActive:false}).length}})</b></td>
        <td>{{sexcCtrl.totalDeads.rddBlocks}}</td>

        <td sorttable_customkey="3262345">
            {{sexcCtrl.totalDeads.memoryUsed}} /
            {{sexcCtrl.totalDeads.maxMemory}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totalDeads.diskUsed}}
        </td>
        <td>
          {{sexcCtrl.totalDeads.totalCores}}
        </td>
          <td style="background:hsla(240, 100%, 50%, 0.55);color:white">{{sexcCtrl.totalDeads.activeTasks}}</td>
          <td style="">{{sexcCtrl.totalDeads.failedTasks}}</td>
          <td>{{sexcCtrl.totalDeads.completedTasks}}</td>
          <td>{{sexcCtrl.totalDeads.totalTasks}}</td>
        <td sorttable_customkey="4234675898" style="">
          {{sexcCtrl.totalDeads.totalDuration}}
          ({{sexcCtrl.totalDeads.totalGCTime}})
        </td>
        <td sorttable_customkey="422212235665">
          {{sexcCtrl.totalDeads.totalInputBytes}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totalDeads.totalShuffleRead}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totalDeads.totalShuffleWrite}}
        </td>
        </tr>
        <tr>
      <td><b>Total({{sexcCtrl.executors.length}})</b></td>
        <td>{{sexcCtrl.totals.rddBlocks}}</td>

        <td sorttable_customkey="3262345">
            {{sexcCtrl.totals.memoryUsed}} /
            {{sexcCtrl.totals.maxMemory}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totals.diskUsed}}
        </td>
        <td>
          {{sexcCtrl.totals.totalCores}}
        </td>
          <td style="background:hsla(240, 100%, 50%, 0.55);color:white">{{sexcCtrl.totals.activeTasks}}</td>
          <td style="">{{sexcCtrl.totals.failedTasks}}</td>
          <td>{{sexcCtrl.totals.completedTasks}}</td>
          <td>{{sexcCtrl.totals.totalTasks}}</td>
        <td sorttable_customkey="4234675898" style="">
          {{sexcCtrl.totals.totalDuration}}
          ({{sexcCtrl.totals.totalGCTime}})
        </td>
        <td sorttable_customkey="422212235665">
          {{sexcCtrl.totals.totalInputBytes}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totals.totalShuffleRead}}
        </td>
        <td sorttable_customkey="0">
          {{sexcCtrl.totals.totalShuffleWrite}}
        </td>
        </tr>
        <tr>
    </tr>
      </tbody>
    </table>
        </div>
      </div><div class="row">
        <div class="span12">
          <h4>Executors</h4>
          <table class="table table-bordered table-condensed table-striped sortable">
        <thead>
          <tr><th class="sorttable_numeric">Executor ID</th>
          <th>Address</th>
          <th>Status</th>
          <th>RDD Blocks</th>
          <th><span data-toggle="tooltip" title="Memory used / total available memory for storage of data like RDD partitions cached in memory. ">Storage Memory</span></th>
          <th>Disk Used</th>
          <th>Cores</th>
          <th>Active Tasks</th>
          <th>Failed Tasks</th>
          <th>Complete Tasks</th>
          <th>Total Tasks</th>
          <th><span data-toggle="tooltip" title="Shaded red when garbage collection (GC) time is over 10% of task time">Task Time (GC Time)</span></th>
          <th><span data-toggle="tooltip" title="Bytes and records read from Hadoop or from Spark storage.">Input</span></th>
          <th><span data-toggle="tooltip" title="Total shuffle bytes and records read (includes both data read locally and data read from
       remote executors). ">Shuffle Read</span></th>
          <th>
            <!-- Place the shuffle write tooltip on the left (rather than the default position
              of on top) because the shuffle write column is the last column on the right side and
              the tooltip is wider than the column, so it doesn't fit on top. -->
            <span data-toggle="tooltip" data-placement="left" title="Bytes and records written to disk in order to be read by a shuffle in a future stage.">
              Shuffle Write
            </span>
          </th>
          
          <th class="sorttable_nosort">Thread Dump</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-model="sexcCtrl.executors" ng-repeat='executor in sexcCtrl.executors'>
          <td sorttable_customkey="10">{{executor.id}}</td>
          <td>{{executor.hostPort}}</td>
          <td sorttable_customkey="Active">
            {{executor.isActive}}
          </td>
          <td>{{executor.rddBlocks}}</td>
          <!-- memory -->
          <td sorttable_customkey="187522">
            {{executor.memoryUsed}} / {{executor.maxMemory}}
          </td>
          <td sorttable_customkey="0">
            {{executor.diskUsed}}
          </td>
          <td>{{executor.totalCores}}</td>
          
          <td style="">{{executor.activeTasks}}</td>
          <td style="">{{executor.failedTasks}}</td>
          <td>{{executor.completedTasks}}</td>
          <td>{{executor.totalTasks}}</td>
          
          <td sorttable_customkey="239059011" style="">
            {{executor.totalGCTime}}
          </td>
          <td sorttable_customkey="27637291347">
            {{executor.totalInputBytes}}
          </td>
          <td sorttable_customkey="0">
            {{executor.totalShuffleRead}}
          </td>
          <td sorttable_customkey="0">
            {{executor.totalShuffleWrite}}
          </td>
          <td>
            <a href="threadDump/?executorId={{executor.id}}">Thread Dump</a>
          </td>
        </tr><tr>
      </table>
    </div>
  </div>
</div>