<div class="table-responsible">

		<table class="table">
			<thead>
				<tr><th>key</th><th>value</th><th>#</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat='key in ctrl.confsKeys'>
					<td>{{key}}</td>
					<td><input type="text" ng-model='ctrl.confs[key]' class="form-control"/></td>
					<td><span class="btn glyphicon glyphicon-remove" ng-click="ctrl.delConf(key)"></span></td>
				</tr>
				<!--add new conf option line -->
				<tr class="warning"><td>
				  <!--<md-content class="md-padding">-->

				    <form ng-submit="$event.preventDefault()">

						<md-autocomplete
				          ng-disabled="ctrl.isDisabled"
				          md-no-cache="ctrl.noCache"
				          md-selected-item="ctrl.selectedItem"
				          md-search-text-change="ctrl.searchTextChange(ctrl.keyToAdd)"
				          md-search-text="ctrl.keyToAdd"
				          md-selected-item-change="ctrl.selectedItemChange(item)"
				          md-items="item in ctrl.querySearch(ctrl.keyToAdd)"
				          md-item-text="item.display"
				          md-min-length="0"
				          >
		          		<span md-highlight-text="ctrl.keyToAdd">{{item.display}}</span>
		        		<md-not-found>
          					No states matching "{{ctrl.keyToAdd}}" were found.
        				</md-not-found>
      					</md-autocomplete>
      				</form>
      				<!--</md-content>--></td>
					<!--<td><input type="text" ng-model='ctrl.keyToAdd' class="form-control"/></td>-->
					<td>
   					<input type="text" ng-model='ctrl.valueToAdd' class="form-control" ng-keypress="$event.which === 13 && ctrl.addConf()"/></md-input></td>

					<td><span class="btn glyphicon glyphicon-ok" ng-click="ctrl.addConf()"></span></td>

				</tr>
			</tbody>
		</table>

</div>